<div class="container m-3 browse-dogs-row">
  <div class="browse-dogs-list">
    <h1>Browse dogs</h1>
      <%= form_tag dogs_path, method: :get, class: "d-flex mt-3" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search dogs by breed or location"
        %>
        <%= submit_tag "Search", class: "search-btn" %>
      <% end %>
      <% if @dogs.empty? %>
      <div class="mt-5">
        <h3>No dogs added</h3>
      </div>
    <% else %>
      <div class="dog-display mt-4">
        <% @dogs.each do |dog| %>
          <%= link_to dog_path(dog), style: "text-decoration: none; color: black;" do %>
            <div class="dog-card">
              <div class="browsing-dog-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path dog.photos[0].key %>)">
              </div>
              <div class="info-dog-card">
              <p>
                <i class="fa-solid fa-dog"></i> <strong> <%= dog.name %></strong>
              </p>
              <p>
                <i class="fa-solid fa-location-dot"></i> <%= dog.location %>
              </p>
              </div>
            </div>
            <% end %>
        <% end %>
    </div>
    <% end %>
  </div>

  <div class="browse-dogs-new">
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <h4 class="mb-2 mt-4">Add a new dog</h4>
      <%= simple_form_for (@dog) do |f| %>
        <%= f.input :name, placeholder: "Uni" %>
        <%= f.input :breed, placeholder: "Brussels Griffon" %>
        <%= f.input :age, placeholder: "3" %>
        <%= f.input :location,
          input_html: {data: {location_autocomplete_target: "location"}, class: "d-none"},
          wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
        %>
        <%= f.input :description, placeholder: "Description" %>
        <%= f.collection_radio_buttons :sex, [[false, 'Male '], [true, 'Female']], :first, :last %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.button :submit, class: "create-dog-btn", value: "Add Dog" %>
      <% end %>
  </div>
</div>
