<div class="container">
  <div class="dog-row">
    <div class="dog-card">
     <h1><%= @dog.name %> </h1>
      <p>
        <% @dog.photos.each do |photo| %>
          <div class="mb-2">
            <%= cl_image_tag photo.key, height: 400, width: 600, crop: :fill, class: "rounded" %>
          </div>
        <% end %>
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Name:</strong> <%= @dog.name %></li>
        <li class="list-group-item"><strong>Breed:</strong> <%= @dog.breed %></li>
        <li class="list-group-item"><strong>Age:</strong> <%= @dog.age %></li>
        <li class="list-group-item"><strong>Sex:</strong> <%= @dog.sex ? "Female" : "Male" %></li>
        <li class="list-group-item"><strong>Location:</strong> <%= @dog.location %></li>
      </ul>
      <br>
      <p><%= link_to "Delete", dog_path(@dog), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-dog-btn"  %></p>
    </div>

    <div class="col-4 mt-5">
      <h4>Create new booking</h4>
        <%= simple_form_for [@dog, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.button :submit, class: "create-dog-btn" %>
        <% end %>
    </div>
  </div>
</div>
