<div class="container dog-row">
  <div class="carousel-dog-card">

    <h1><strong>Hi, I'm <%= @dog.name %> <i class="fa-regular fa-face-smile"></i></strong></h1>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <% @dog.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%='active' if index == 0%>">
            <div class="mb-2">
              <%= cl_image_tag photo.key, height: 400, width: 600, crop: :fill, class: "rounded" %>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

      <ul class="list-group list-group-flush rounded border">
        <li class="list-group-item"><strong>Breed:</strong> <%= @dog.breed %></li>
        <li class="list-group-item"><strong>Age:</strong> <%= @dog.age %></li>
        <li class="list-group-item"><strong>Sex:</strong> <%= @dog.sex ? "Female" : "Male" %></li>
        <li class="list-group-item"><strong>Location:</strong> <%= @dog.location %></li>
        <li class="list-group-item"><strong>Description:</strong> <%= @dog.description %></li>
      </ul>
      <div class="buttons d-flex mt-3">
        <p><%= link_to "Update", edit_dog_path(@dog), class: "update-dog-btn" %></p>
        <p><%= link_to "Delete", dog_path(@dog), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-dog-btn" %></p>
      </div>
  </div>

  <div class="col-4 mt-5 d-flex flex-column">
    <div class="woofwoof-form border">
      <h4>Create new booking</h4>
        <%= simple_form_for [@dog, @booking] do |f| %>
          <%= f.input :start_date, order: [:day, :month, :year] %>
          <%= f.input :end_date, order: [:day, :month, :year] %>
          <%= f.button :submit, class: "create-booking-btn" %>
        <% end %>
    </div>
    <div class="woofwoof-form mt-4 align-self-center border py-4" style="width: 60%">
      <div class="d-flex flex-column align-items-center">
        <h4>About the owner</h4>
        <img src="<%= cl_image_path @dog.user.avatar.key %>" alt="<%= @dog.user.username %>" class="avatar-large border">
        <div class="info mt-3">
          <p><strong>Username: </strong><%= @dog.user.username %></p>
          <p><strong>Dogs: </strong><%= @dog.user.dogs.count %></p>
          <p><strong>Member since: </strong><%= @dog.user.created_at.to_s.split[0].split("-").reverse.join("/") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
