<div class="container d-flex">
  <div class="col-8">
    <div class="dog-row">
      <div class="dog-card" style="width: 100%;">
        <h1><%= @dog.name %> </h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="border-radius: 8px;">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <% @dog.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%='active' if index == 0%>">
                <div class="mb-3">
                  <%= cl_image_tag photo.key, height: 400, width: 600, crop: :fill, style: "box-shadow: 1px 1px 6px #888888; border-radius: 8px;" %>
                </div>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="dog-row my-2">
      <ul class="list-group list-group-flush" style="border-radius: 8px;">
        <li class="list-group-item"><strong>Name:</strong> <%= @dog.name %></li>
        <li class="list-group-item"><strong>Breed:</strong> <%= @dog.breed %></li>
        <li class="list-group-item"><strong>Age:</strong> <%= @dog.age %></li>
        <li class="list-group-item"><strong>Sex:</strong> <%= @dog.sex ? "Female" : "Male" %></li>
        <li class="list-group-item"><strong>Location:</strong> <%= @dog.location %></li>
      </ul>
    </div>
    <div class="dog-row my-4">
      <p><%= link_to "Delete", dog_path(@dog), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-dog-btn"  %></p>
    </div>
  </div>

  <div class="col-4">
    <div style="background-color: #F7F7F7; border-radius: 8px; padding: 8px; margin-top: 120px;">
      <h4>Create new booking</h4>
        <%= simple_form_for [@dog, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.button :submit, class: "create-dog-btn" %>
        <% end %>
    </div>
  </div>
</div>
