<h1>Booking <%= @dog.name %></h1>

<%= simple_form_for [@dog, @booking], id: "new_booking" do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
