<!DOCTYPE html>
<html>
  <head>
    <title>WoofWoof</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="m-3">
      <%= yield %>
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
    </div>
    <footer class="d-flex justify-content-center list-unstyled" style="background-color: #F9F9F9;">
      <li class="mx-5 my-4"><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
      <li class="mx-5 my-4"><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
      <li class="mx-5 my-4"><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
    </footer>
  </body>
</html>
